# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# each of the users below will be requested for
# review when someone opens a pull request.
# All DAPCATS team members using github should be included below:
*       @robertswh @odairhannah @NathanKelly-ONS @jkhall06 @emercado4 @AntonZogk @ChrisSoderberg-ONS @donadviser @alexsnowdon

# More guidance on customising CODEOWNERS is available from here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

